* {
  margin: 0px;
  padding: 0px;
}

body {
  overflow: hidden;
}

#background {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}

.content {
  position: absolute;
  z-index: 2;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

}

.wrapper {
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  filter: drop-shadow(2px 4px 6px black);

  
}

h2 {
  font-size: 3em;
}