* {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: white;
}

::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}


/* ************************************************************************************

GLOBAL LAYOUT

************************************************************************************** */

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

header {
  min-height: 100vh;
  background: black url("assets/images/musician.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: white;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  display: flex;
  flex: 1 1 0;
  list-style: none;
  gap: 1em;
  font-size: 1.3em;
}

nav ul a {
  color: white;
  text-decoration: none;
}

section {
  font-family: 'Indie Flower', cursive;
  font-size: 1.7em;
  overflow: hidden;
  padding: 2em;
}


/* ************************************************************************************

NAV

************************************************************************************** */

.left-nav {
  justify-content: right;
}

.right-nav {
  justify-content: left;
}

.logo {
  font-size: 3em;
  padding: 1em;
  font-family: 'Indie Flower', cursive;
}

.music-socials {
  position: absolute;
  top: 0em;
  left: 3em;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.music-socials img {
  width: 2.5em;
}

/* ************************************************************************************

ABOUT ME SECTION

************************************************************************************** */

.about-me {
  display: flex;
  padding: 0;
}

.col {
  flex: 1;
  padding: 2em;
}

.about-me .image {
  background: url("assets/images/guitar.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 1000px) {
  .about-me {
    flex-direction: column;
  }

  .about-me .image {
    min-height: 10em;
  }
}


/* ************************************************************************************

ALBUMS SECTION

************************************************************************************** */

.albums {
  text-align: center;
}

.album {
  position: relative;
  cursor: pointer;
}

.albums .list {
  margin: 1em 0 1em 0;
  position: relative;
  display: grid;
  gap: 2em;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

@media (max-width: 1200px) {
  .albums .list {
    grid-template-columns: 1fr 1fr;
  }

  .albums .list :nth-child(3) {
    grid-column: span 2;
  }
}

@media (max-width: 900px) {
  .albums .list {
    grid-template-columns: 1fr;
  }

  .albums .list :nth-child(3) {
    grid-column: span 1;
  }
}


.cd {
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: left 1s ease-in-out;
}

.album:hover .cd {
  left: 50%;
}

.album.selected .cd {
  left: 50%;
}

.album.playing .cd {
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}

.song-list {
  position: relative;
  display: none;
  background-color: black;
  color: white;
  padding: 1em;
  border-radius: 10px;
}

.song-list.active {
  display: block;
}

.song-list ul {
  list-style: decimal;
  text-align: left;
  padding-left: 2em;
}

.song-list li {
  position: relative;
}

.song-list .links img {
  width: 1.7em;
}

.song-list .links {
  position: absolute;
  top: 1em;
  right: 2em;
}

.song-list .links .links-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}

.song-list .placeholder {
  display: none;
}

@media (max-width: 900px) {
  .song-list .links .links-wrapper {
    flex-direction: column;
  }

  .song-list .link {
    display: none;
  }

  .song-list .placeholder {
    display: block;
  }

  .song-list .links:hover {
    z-index: 10;
  }

  .song-list .links {
    height: 9em;
  }

  .song-list .links .links-wrapper {
    background-color: black;
    overflow: hidden;
    justify-content: start;
    height: 0;
    transition: height 1s ease-in-out;
  }

  .song-list .links:hover .links-wrapper {
    height: 9em;
  }

  .song-list .links:hover .placeholder {
    display: none;
  }

  .song-list .links:hover .link {
    display: block;
  }
}

.song-list .listen img {
  width: 1em;
  top: 0.2em;
  right: 1.3em;
  position: absolute;
  cursor: pointer;
}

.song-list .playing-song img {
  content: url("assets/icons/pause.svg");
}


/* ************************************************************************************

TOURS SECTIONf

************************************************************************************** */

.tours {
  background: black;
  color: white;
  text-align: center;
}

.tours .list {
  font-family: 'Noto Sans', sans-serif;
  background-color: white;
  color: black;
  text-align: left;
  border-radius: 10px;
  margin-top: 2em;
}

.tours .list .tour {
  position: relative;
}

.tours .list .tour {
  border-bottom: 1px solid black;
}

.tours .list .city {
  font-weight: 900;
  padding: 0.5em 0.5em 0em 0.5em;
}

.tours .list .date {
  font-size: 0.7em;
  padding: 0em 0.7em 0.7em 0.7em;
}

.tours .list .book-now {
  padding: 0.5em 1em;
  position: absolute;
  right: 2em;
  top: 50%;
  transform: translateY(-50%);

  background-color: black;
  color: white;
  font-size: 0.6em;

  cursor: pointer;
}


.tours .list .book-now.sold {
  padding: 0.5em 1em;
  position: absolute;
  right: 2.7em;
  top: 50%;
  transform: translateY(-50%);

  background-color: rgb(54, 54, 54);
  color: white;
  font-size: 0.6em;

  cursor: pointer;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  text-decoration: none;
  color: black;
}

footer img {
  width: 24px;
  margin: 5px;
}